body {
  font-family: "Ubuntu", sans-serif;
}

.rounded-button {
  font-weight: bold;
}

.rounded-button:hover {
  background-color: white;
  color: black;
}

.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.styled-link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.styled-link:hover {
  color: darkslateblue;
}
