body {
  font-family: "Ubuntu", sans-serif;
}

.rounded-button {
  font-weight: bold;
}

.rounded-button:hover {
  background-color: white;
  color: black;
}

.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.styled-link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.styled-link:hover {
  color: darkslateblue;
}

.lift-card {
  transition: transform 0.3s ease-in-out;
}

.lift-card:hover {
  transform: translateY(-10px);
}

.move-right {
  transition: transform 0.3s ease-in-out;
}

.move-right:hover {
  transform: translateX(15px);
}

.move-left {
  transition: transform 0.3s ease-in-out;
}

.move-left:hover {
  transform: translateX(-15px);
}
